<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script>
    const adsManager = () => {
      const video = document.getElementById("videoPlayer");
      const adSrc = "http://localhost:3000/video/adsWatch";
      let src, currentTime, time;
      //video.muted = false;

      const adsEndedInit = () => {
        video.removeEventListener("ended", adsEndedInit, false);
        video.removeEventListener("ended", adsEndedMiddle, false);
        video.src = src;
        video.controls = false;
        video.controls = true;
        video.load();
        video.play();
      };

      const adsEndedMiddle = () => {
        video.pause();
        video.removeEventListener("ended", adsEndedMiddle, false);
        video.src = src;
        video.load();
        video.currentTime = currentTime;
        video.play();
      }
      const middle = () => {
        src = video.src;
        currentTime = video.currentTime;
        video.src = adSrc;
        video.load();
        video.addEventListener("ended", adsEndedMiddle, false);
      }

      return {
        init: () => {
          src = video.src;
          video.src = adSrc;
          video.load();
          video.removeEventListener("ended", adsEndedMiddle, false);
          video.addEventListener("ended", adsEndedInit, false);
        },
        intervalInFourMin: () => {

            setInterval(() => {
              video.ontimeupdate = (e) => {
                time = video.currentTime
              }
              if ((parseFloat(time) * 1000) >= 1800000 && (parseFloat(time) * 1000) <= 1800200 ) {
                console.log('ads display on 30 min', parseFloat(time) * 1000);
                middle();
              }
            }, 100);
            
            setInterval(() => {
              isPaused = video.paused;
              if (!isPaused) {
                console.log('ads display on interval of 20 min', parseFloat(video.currentTime) * 1000);
                middle();
              }
            }, 1200000 + 6000);
          },
          // clickForCut : () => {
          //   video.onseeked = () => {
          //     src = video.src;
          //     video.pause();
          //     currentTime = video.currentTime;
          //     video.src = adSrc;
          //     video.load();
          //     video.onended = (e) => {
          //       video.src = src;
          //       video.currentTime = 5;
          //     }
          //     console.log(currentTime);
          //     //video.src = src;
          //     //video.currentTime = currentTime;
          //     // video.play();
          //     // video.onended = () => {
          //     //   console.log('ended');
          //     //   video.src = src;
          //     //   video.load();
          //     //   video.currentTime = currentTime;
          //     //   video.play();
          //     // }
          //   }
          // }
      };
    }

    document.addEventListener("DOMContentLoaded", function(event) { 
      const initAds = adsManager().init();
      const middleAds = adsManager().intervalInFourMin();
      //const clickForCut = adsManager().clickForCut();
    });
    </script>
</head>

<body>
  <video id="videoPlayer" width="1200" height="600" src="http://localhost:3000/video/watch" controls autoplay>
    <source src="http://localhost:3000/video/watch" type="video/mp4">
  </video>
</body>

</html>