<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <video id="videoPlayer" height="600" width="1200" controls>
        <source src="/video/watch" type="video/mp4">
    </video>
  </body>
</html>
